@charset "utf-8";
body { font-family: "微软雅黑"; font-size: 13px ;background-color: #f5f5f5; }
.icon-gold {
    background: url("../images/icons/gold.gif") no-repeat scroll right center rgba(0, 0, 0, 0);
    padding-right: 15px;
}
.icon-silver {
    background: url("../images/icons/silver.gif") no-repeat scroll right center rgba(0, 0, 0, 0);
    padding-left: 3px;
    padding-right: 15px;
}
.icon-copper {
    background: url("../images/icons/copper.gif") no-repeat scroll right center rgba(0, 0, 0, 0);
    padding-left: 3px;
    padding-right: 15px;
}
.pdt10{
	padding-top:10px;
}
.pdn{
	padding:20px 10px;
	text-align:center;
	margin:10px auto;
}
