<!-- BEGIN PAGE -->
<div class="page-content">
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                <ul class="breadcrumb">
                   <li>
    <i class="icon-home"></i>
    <a href="#">系统</a>
    <i class="icon-angle-right"></i></li>
    <li><a href="#">管理员管理</a><i class="icon-angle-right"></i></li>
    <li><a href="#">添加/编辑管理员</a></li>
                </ul>
                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid margin-bottom-20">
            <div class="span12">
			<form action="" method="post">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table1  table table-striped table-bordered  table-hover">
                                <tr>
                                <th width="120">账号邮件地址：</th>
                                <td><input id="email" name="email" type="text" class="input" size="40" value="{{.Info.Email}}" 
 {{if gt .Info.Id 0}} disabled="disabled"{{end}}
                                /></td>
                            </tr>
                               {{if gt .Info.Id 0}} 
                               <tr>
                                <th>新密码：</th>
                                <td><input class="input" name="pwd" type="password" size="40" value="" />&nbsp;不修改请勿填写</td>
                            </tr>
                            
                            </if>
                            <tr>
                                <th>重新输入密码：</th>
                                <td><input class="input" name="pwd1" type="password" size="40" value="" /></td>
                            </tr>
         
                            {{else}}
                             <tr>
                                <th>密码：</th>
                                <td><input class="input" name="pwd" type="password" size="40" value="" /></td>
                            </tr>
                            {{end}}
                            <tr>
                                <th>昵称：</th>
                                <td><input class="input" name="nickname" type="text" size="40" value="{{.Info.Nickname}}" /></td>
                            </tr>
                          
                            <tr>
                                <th>所属角色组：</th>
                                <td>{{str2html .Role}}</td>
                            </tr>
                            <tr>
                                <th>备注：</th>
                                <td><textarea name="remark" rows="5" cols="57">{{.Info.Remark}}</textarea></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td> 
                                   <button type="button" class="btn blue submit"><i class="icon-ok"></i> 提交</button>
                                   </td>
                            </tr>
                        </table>
                        
                        <input type="hidden" name="uid" value="{{.Info.Id}}"/>
                    </form>

			</div>
		</div>
		<!-- END PAGE CONTENT-->
	</div>
	<!-- END PAGE CONTAINER-->
</div>
<!-- END PAGE -->
<script type="text/javascript">
$(".submit").click(function(){
     {{if eq .Info.Id 0}}
    if(!isEmail($("input[name='email']").val())){
        popup.alert("账号邮件地址格式错误");
        return false;
    }
    {{end}}
    {{if eq .Info.Id 0}}
    
    if($.trim($("input[name='pwd']").val())==''){
        popup.alert("请输入密码");
        return false;
    }
    {{else}}
    if($("input[name='pwd']").val()!=$("input[name='pwd1']").val()){
        popup.alert("两次输入的密码不一致，请检查");
        return false;
    }
    {{end}}
    if($.trim($("input[name='nickname']").val())==''){
        popup.alert("请输入昵称");
        return false;
    }
     $.ajax({
            dataType:"json",
            url:"",
            type:"POST",
            data:$("form").serialize(),
            dataType:'json',
            success:function(data, st) {


                if(data.Status==1){
                    popup.success(data.Info);
                    setTimeout(function(){
                        popup.close("asyncbox_success");
                    },2000);
                    if(data.Url&&data.Url!=''){
                    setTimeout(function(){
                        top.window.location.href=data.Url;
                    },2000);
                }
                if(data.Url==''){
                    setTimeout(function(){
                        top.window.location.reload();
                    },1000);
                }
                }else{
                    popup.error(data.Info);
                    setTimeout(function(){
                        popup.close("asyncbox_error");
                    },20000);
                }

            }
        });
     return ;
});
</script>
