<!-- BEGIN PAGE -->
<div class="page-content">
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                <ul class="breadcrumb">
                    <li> <i class="icon-home"></i>
                        <a href="#">权限管理</a> <i class="icon-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">角色管理</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">角色查看</a>
                    </li>
                </ul>
                <!-- END PAGE TITLE & BREADCRUMB--> </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid margin-bottom-20">
            <div class="span12">

                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data-table  table table-striped table-bordered  table-hover">
                    <thead>
                        <tr>

                            <td>ID</td>
                            <td>组名</td>
                            <td>描述</td>
                            <td>状态</td>
                            <td>操作</td>
                        </tr>
                    </thead>
                    {{$edit:=.Edit}}
                         {{$chage:=.Change}}
                         {{$roleid:=.AdminRoleid}}
                        {{range $key,$val:=.List}}
                    <tr align="center" id="{{$val.Id}}">

                        <td>{{$val.Id}}</td>
                        <td>{{$val.Name}}</td>
                        <td>{{$val.Remark}}</td>
                        <td >
                            {{if eq $val.Status 1}}
                            <span class="label label-success">启用</span>
                            {{else}}
                            <span class="label label-error">禁用</span>
                            {{end}}
                        </td>

                        <td>
                            {{if ne $roleid $val.Id}}
                        {{if eq $edit true}}
                            {{if eq $val.Status 1}}
                            <a  class="btn mini red opStatus1" href="javascript:void(0);" >
                                <i class="icon-edit"></i>
                                禁用
                            </a>
                            {{else}}
                            <a  class="btn mini green opStatus1" href="javascript:void(0);" >
                                <i class="icon-edit"></i>
                                启用
                            </a>
                            {{end}}
                            {{end}}
                           {{if eq $edit true}}
                            <a  class="btn mini purple " href="/access/editrole?id={{$val.Id}}" >
                                <i class="icon-edit"></i>
                                编辑
                            </a>
                            {{end}}
                           {{if eq $chage true}}
                            <a  class="btn mini blue " href="/access/changerole?id={{$val.Id}}" >
                                <i class="icon-edit"></i>
                                权限
                            </a>
                            {{end}}
                        </td>
                    </tr>
                    {{end}}
                    {{end}}
                </table>

            </div>
        </div>
        <!-- END PAGE CONTENT--> </div>
    <!-- END PAGE CONTAINER-->
</div>
<!-- END PAGE -->
<script type="text/javascript">
$(function(){
    //快捷启用禁用操作
    $(".opStatus1").click(function(){
        var obj=$(this);
        var id=$(this).parents("tr").attr("id");

        $.getJSON("/access/editrole", { id:id ,ts:"setstatus"}, function(json){
            if(json.Status==1){
                popup.success(json.Info);
                setTimeout(function(){
                     top.window.location.reload();
                  },2000);
            }else{
                popup.alert(json.Info);
            }
        });
    });
});
</script>