<!-- BEGIN PAGE -->
<div class="page-content">
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                <ul class="breadcrumb">
                    <li> <i class="icon-home"></i>
                        <a href="#">系统</a> <i class="icon-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">管理员管理</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">管理员列表</a>
                    </li>
                </ul>
                <!-- END PAGE TITLE & BREADCRUMB--> </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid margin-bottom-20">
            <div class="span12">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data-table  table table-striped table-bordered  table-hover">
                    <thead>
                        <tr>
                            <td>UID</td>
                            <td>账号</td>
                            <td>昵称</td>
                            <td>角色组</td>

                            <td>备注</td>

                            <td >操作</td>
                        </tr>
                    </thead>
                    {{$roleid:=.AdminRoleid}}
                        {{$edit:=.Edit}}
                        {{range $key,$val:=.List}}
                    <tr align="center" uid="{$vo.uid}">
                        <td>{{$val.Id}}</td>
                        <td>{{$val.Email}}</td>
                        <td>{{$val.Nickname}}</td>
                        <td>{{$val.Role_name}}</td>

                        <td>{{$val.Remark}}</td>

                        <td>
                            {{if  ne $val.Role_id $roleid}}
                                {{if eq $edit true}}
                            <a href="/access/editadmin?uid={{$val.Id}}" class="btn mini purple">
                                <i class="icon-edit"></i>
                                编辑
                            </a>
                            {{end}}
                                {{end}}
                        </td>
                    </tr>
                    {{end}}
                </table>
                {{str2html .Page}}
            </div>
        </div>
        <!-- END PAGE CONTENT--> </div>
    <!-- END PAGE CONTAINER-->
</div>
<!-- END PAGE -->