html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th,figcaption { font-size: 1em; font-weight: normal; font-style: normal; }
fieldset,iframe { border: none; }
caption,th { text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }
article,aside,footer,header,hgroup,nav,section,figure,figcaption { display: block; }
img{border:none;vertical-align: bottom}
a{text-decoration:none;color:#000}
a:hover{text-decoration:underline;}a:visited{color:#000;text-shadow:0 1px 0 #fff}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}.clearfix{zoom:1;display:inline-block;_height:1px}*html .clearfix{height:1%}*+html .clearfix{height:1%}.clearfix{display:block}.alignleft{float:left;}.alignright{float:right;}

body{background: #e5e5e5;font-family: "microsoft yahei"}

#wrap{width: 980px;margin:0 auto;background: #fff;min-height:600px;position: relative;}
#float-nav{width:104px; position: absolute; left:-144px;top:180px;}
#float-nav a{width:46px;height:46px;line-height:46px;margin:3px;display: block;text-align: center;background: #78cafd;float:left;}
#float-nav a.white{background: #fff;color:#78cafd;}
/***duron �޸�**/
#float-nav{ position:fixed; left:60px; top:180px;}

#sidebar{width: 256px;float: left;background:  #14213e}
#sidebar #logo{height:140px;background: url(/Public/Img/logo_blue.png) no-repeat left top;display: block}
#sidebar #search{width:206px;margin:0 auto;margin-bottom:15px;}
#sidebar #search input{float:left;font-size: 12px;padding:5px;}
#sidebar #search input#search-text{width:148px;border:none;background-color:#efefef}
#sidebar #search input#search-btn{width:38px;height:25px;border:none;cursor:pointer;background:url(/Public/Img/search-icon.png) no-repeat center center #2376b5;}
#sidebar #nav{height:430px;background: #14213e}
#sidebar #nav a{display: block;height:125px;position: relative;}
#sidebar #nav a:hover b,#sidebar #nav a.current b{d $cwbCon = preg_replace("/<(\/?span.*?)>/si","",$cwbCon); //过滤span标签 isplay: block;width:16px;height:33px;background: url(/Public/Img/nav-arror.png) no-repeat left top;position: absolute;right:-16px;top:50%;margin-top:-16px;}
#sidebar #nav a#xin{background: url(/Public/Img/xin.png) no-repeat center center;}
#sidebar #nav a#xin:hover,
#sidebar #nav a#xin.current{background: url(/Public/Img/xin.png) no-repeat center center #2c5486;}
#sidebar #nav a#rui{background: url(/Public/Img/rui.png) no-repeat center center;}
#sidebar #nav a#rui:hover,
#sidebar #nav a#rui.current{background: url(/Public/Img/rui.png) no-repeat center center #2c5486;}
#sidebar #nav a#ke{background: url(/Public/Img/ke.png) no-repeat center center;}
#sidebar #nav a#ke:hover,
#sidebar #nav a#ke.current{background: url(/Public/Img/ke.png) no-repeat center center #2c5486;}
#sidebar footer{background:#78cafd;overflow: hidden;}
#sidebar footer #qrcode-frame{margin:88px 10px;background: #fff;}
#sidebar footer #qrcode-frame p{padding:30px 0 0 10px;color:#0b5ba1;font-size: 18px;line-height: 1.8}
#sidebar footer #qrcode-frame img{float:right;}
#sidebar footer h3#downarea-title{margin:0 10px;border-top:1px solid #fff;font-size:18px;height: 38px;line-height: 38px;color:#2c5486;text-align: center;}
#sidebar footer .app-frame{margin:0 10px;padding:26px;border-top:1px solid #fff;text-align: center;}
#sidebar footer .app-frame a{text-decoration:none;}
#sidebar footer .app-frame h3{color:#fff;font-size: 18px;padding-top:10px;}
#sidebar #rss-news{background:#ccc;color:#000;font-size:18px;line-height: 50px;text-align: center;}

#right-frame{width:670px;float:right;padding-right:20px;}
#right-frame #ads-top img{width:670px;height:112px;}
#right-frame header#top-news{margin-bottom:60px;}
#right-frame header#top-news h3#cate-title{color:#075193;font-size: 22px;padding: 20px 0;}
#right-frame header#top-news h2#news-title{}
#right-frame header#top-news h2#news-title a{font-size: 32px;line-height: 1.5}
#right-frame header#top-news article#news-excerpt{font-size: 14px;color:#000;line-height: 1.8}
#right-frame header#top-news #news-meta{font-size:12px;line-height: 1.8;color:#707070;padding:5px 0;}
#right-frame header#top-news ul#top-news-list{background: #f8f8f8;list-style: none;padding:15px 0 0 15px;}
#right-frame header#top-news ul#top-news-list li{float:left;width:300px;margin:0 25px 20px 0;}
#right-frame header#top-news ul#top-news-list li span{color:#075193;padding-right:10px;}

#right-frame ul#news-list{list-style: none;}
#right-frame ul#news-list li.clearfix{height:190px; height:160px; margin-bottom:60px;}
#right-frame ul#news-list li{list-style: none}
#right-frame ul#news-list li .news-photo{width:188px;height:188px; height:148px; text-align: center;border:1px solid #ccc;float:left;position: relative;padding:2px;}
#right-frame ul#news-list li .news-photo img{width:188px;height:188px; height:148px}
#right-frame ul#news-list li .news-photo b.comment{position: absolute;display: block;width:29px;height:28px;background: url(/Public/Img/pop.png) left top no-repeat;line-height: 20px;text-align: center;font-size: 18px;right:-30px;top:-30px;font-weight:100;}
#right-frame ul#news-list li dl{float:right;width:440px;list-style: none}
#right-frame ul#news-list li dl dt{font-size: 16px;color:#25456e;margin-bottom:10px;}
#right-frame ul#news-list li dl dt a{font-size: 20px;}
#right-frame ul#news-list li dl dd.excerpt{font-size: 14px;color:#a0a0a0;margin-bottom:10px;}
#right-frame ul#news-list li dl dd.news-meta{font-size:12px;color:#a0a0a0;margin-bottom:10px;}
#right-frame ul#news-list li li{line-height: 1.8}

#right-frame blockquote{background: url(/Public/Img/blockquote-left.png) no-repeat left top;position: relative;padding:10px 15px;font-size: 14px;color:#959595;margin:30px;line-height: 2}
#right-frame blockquote b.bg{width:15px;height: 16px;display: block;background: url(/Public/Img/blockquote-right.png) no-repeat left top;right:0;bottom:0;position: absolute;}
#right-frame article#news-content{margin-bottom:60px;margin-bottom:30px;}
#right-frame article#news-content p{margin-bottom:30px;margin-bottom:16px;line-height: 1.8em}
#right-frame article#news-content img{max-width:670px;}
#right-frame article#news-content a.send-weibo{display: block;width:120px;height: 34px;background: #2376b5;color:#fff;line-height: 34px;text-align: center;margin:0 auto;}
#right-frame dl#related{margin-bottom:60px;margin-bottom:20px;}
#right-frame dl#related dt{font-size: 24px;margin-bottom: 15px;}
#right-frame dl#related dd{line-height:1.8;font-size: 18px;}

#back-top{width:63px;height:63px;display:block;position:fixed;right:-63px;background: url(/Public/Img/back-top.png) no-repeat left top;bottom:100px;}
#page{text-align: center;margin-bottom:20px;}
#page a.page-left{display: inline-block;width:10px;height:19px;background: url(/Public/Img/page-left.png) no-repeat left center;}
#page a.page-right{display: inline-block;width:10px;height:19px;background: url(/Public/Img/page-right.png) no-repeat left center;}
#page a{font-size: 14px;line-height: 14px; padding:0 4px;}
#page span{font-size: 14px;line-height: 14px}
#page span.current{ background-color:#78CAFD; color:#ffffff; padding:0 5px;}
#page a:hover{ background-color:#78CAFD; color:#ffffff; border-bottom:2px solid #78cafd;text-decoration: none}
