@charset "utf-8";
/* CSS Document */
/*全局样式定义*/
* {
    margin:0;
    padding:0;
}
body {
    min-height:500px;
    font: 12px/26px Georgia, "Times New Roman", Times, serif;
    /*background:#f5f5f5;*/
	background:#ffffff;
}
li { list-style:none; }
/*文字排版**/
a { text-decoration:none; }
a:visited{color:#000000}

input,textarea {
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius:3px;
}
input:focus,textarea:focus {
    outline: 0;
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}
input{ vertical-align: middle;}
.input { height: 18px; }
.input, textarea, select {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 2px 2px 2px #F0F0F0 inset;
    font-family: inherit;
    font-size: 100%;
    line-height: 18px;
    padding: 4px;
    margin: 0;
    vertical-align: middle;
}
option{ height: 16px;}

.clear { clear:both; }
.fr{ float: right;}
.noborder{border:none; border-shadow: none;}
/**高度**/
.h16{height:16px;}
.h18{height:18px;}
.h20{height:20px;}
.h22{height:22px;}
.h24{height:24px;}
.h26{height:26px;}
.h28{height:28px;}
.h30{height:30px;}
.h32{height:32px;}
.h34{height:34px;}
.h100{height:100px;}
/*宽度**/
.w60{width:60px;}
.w80{width:80px;}
.w100{width:100px;}
.w120{width:120px;}
.w140{width:140px;}
.w160{width:160px;}
.w180{width:180px;}
.w380{width:380px;}


/**颜色**/
.white{color:#ffffff;}
.red{color:red}

.lab{cursor: hand;border: 1px solid #bababa; padding: 2px 5px}
.line {
    background:url(../Img/x-bg.gif) repeat-x left -310px;
    height:2px;
    overflow:hidden;
    margin:5px 0px;
}
.hr { background:url(/Public/Img/Bg/hr.png) repeat-x bottom; }
/****按钮****/
.btn {
    margin-right: 10px;	
    min-width: 60px;	
    background: #1b75b6;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
	text-shadow:none;
	*text-shadow:none;
	_text-shadow:none;
    color:#fff;
    border: 1px solid #106bab;
    border-radius: 3px;
    padding:4px 5px 4px 5px;
    display: inline-block;
    cursor: pointer;
    font-size:100%;
    line-height: normal;
    text-decoration:none;
    overflow:visible;
    vertical-align: middle;
    text-align:center;
    zoom: 1;
    white-space:nowrap;
    font-family:inherit;
    letter-spacing:5px;
    /*behavior: url(ie-css3.htc);*/
}
.bgGreen{background: green;}
.bgRed{background:#dd0000;}
.bgBlack{background:#000000}
.borderRed{border-color:#dd0000}
.sub-menu-off{display:none;}
/*登录页样�?*/
.loginWeb { background:url(../Img/login_body_bg.gif) repeat-x center top; }
.loginBox {
    width:900px;
    height:500px;
    background:url(../Img/login_bg.jpg) no-repeat center 30px;
    margin:0 auto;
    padding-top:135px;
}
.loginBox .innerBox {
    width:456px;
    height:310px;
    margin:0px auto 5px auto;
}
.loginBox .innerBox .logo {
    height:75px;
    line-height:75px;
    padding:10px 40px 0 40px;
}
.loginBox .loginInfo { }
.loginBox ul {
    clear:both;
    margin:0 40px;
}
.loginBox ul li {
    line-height:50px;
    height:50px;
    float:left;
}
.loginBox ul li.row1 {
    width:100px;
    text-align:right;
    padding-right:10px;

    font-family:"微软雅黑";
    font-size:16px;
    color:#666;
}
.loginBox ul li.row2 {text-align:left;}
.loginBox .loginInfo { }
.loginBox .operation { text-align: center; padding:10px 0; }
.tabEvenOdd {
    border:1px solid #ddd;
    background:#fefefe
}
.tabEvenOdd tr.odd { background:#fff; }
.tabEvenOdd td {
    padding:3px 5px;
    border-top:1px solid #fff;
    border-bottom:1px solid #ddd;
}
.Item {overflow:hidden;
margin-bottom: 5px;
    line-height: 35px;

}
.Item div {
    display: inline-block;
    padding: 0 10px;
    height: 35px;
}
.Item div.current {
    border-bottom: 1px solid #266AAE;
    color: #266AAE;
    font-weight: 700;
	display:block;
}
.batchjobs{height:30px;line-height:30px; }
.table1{ border-top: #ddd solid 1px; }
.table1 tr:hover{ background-color:#fafafa;}
.table1 th {
    border-right: 1px solid #E5E3E3;
    font-weight: 100;
    line-height: 24px;
    padding: 5px 10px 7px;
    text-align:right;
}
.table1 td {
    line-height: 24px;
    padding: 5px 10px 7px;
}
/**
.table1 tr { background:url(/Public/Img/Bg/hr.png) repeat-x bottom; }
**/
.table2{}

.data-table {
    margin: 10px 0;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd #ddd #fff #fff;
    text-shadow: 0 1px 0 #FFFFFF;
    border-collapse: separate;
}
.data-table td {
    padding: 5px 5px;
    margin: 15px 0;
    line-height: 24px;
    border-width: 1px;
    border-style: solid;
    border-color: #fff #fff #ddd #ddd;
}
.data-table td a{/*color:#0000aa*/ color:#010101; font-weight:bold}
.data-table td a:hover{color:#0000aa; font-weight:bold}
.data-table thead{ /*background-color:#353535;*/ background-color:#efefef}
.data-table thead td { text-align: center; font-weight:bold; font-size:12px; font-family:'宋体','微软雅黑'; color:#363636; text-shadow:none; border:none}
.data-table tbody tr:hover { background: #efefef; }
.data-table td a.bgGreen {color:#fff; padding:5px 0px}
.data-table tbody td span{color:#3f3f3f}
/*layout_bg.png*/

/*.wrap {
        overflow:hidden;
        -webkit-animation: bounceIn 600ms linear;
        -moz-animation: bounceIn 600ms linear;
        -o-animation: bounceIn 600ms linear;
        animation: bounceIn 600ms linear;
}
@-webkit-keyframes bounceIn { 0% {
 opacity: 0;
 -webkit-transform: scale(.3);
}
 50% {
 opacity: 1;
 -webkit-transform: scale(1.05);
}
 70% {
 -webkit-transform: scale(.9);
}
 100% {
 -webkit-transform: scale(1);
}
}
@-moz-keyframes bounceIn { 0% {
 opacity: 0;
 -moz-transform: scale(.3);
}
 50% {
 opacity: 1;
 -moz-transform: scale(1.05);
}
 70% {
 -moz-transform: scale(.9);
}
 100% {
 -moz-transform: scale(1);
}
}
@-o-keyframes bounceIn { 0% {
 opacity: 0;
 -o-transform: scale(.3);
}
 50% {
 opacity: 1;
 -o-transform: scale(1.05);
}
 70% {
 -o-transform: scale(.9);
}
 100% {
 -o-transform: scale(1);
}
}
@keyframes bounceIn { 0% {
 opacity: 0;
 transform: scale(.3);
}
 50% {
 opacity: 1;
 transform: scale(1.05);
}
 70% {
 transform: scale(.9);
}
 100% {
 transform: scale(1);
}
}
*/
/**设置专题文章**/
.tablewidth{border:1px solid #1a5db0;background:#efefef;width:99%;margin-bottom:8px;}
.tablewidth tr{background:#fff;}
.tablewidth .head, .tablewidth .head td, .tablewidth .head3 td{
	border:#449ae8 0px solid;
	background:#6799b8 url(../Img/qq_22.gif);
	color:#fff;
	height:25px;
	line-height:25px;
}
.tablewidth .head td{
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
}
.tablewidth .head td,.tablewidth .head td a{
	COLOR: #FFF;
}

.tablewidth .head2{
	BORDER: #449AE8 0px solid;
	background:#eeeeee;
	COLOR: #FFF;
}
.tablewidth .head2 td{
	padding-top:5px;
	padding-left:5px;
	padding-bottom:3px;
}
.tablewidth .head2 td,.tablewidth .head2 td a{
	COLOR: #000;
}
.tablewidth td{height:25px;line-height:25px}
.tdhelp{
	color:#999;
}
/**添加文章界面 begin**/
#tabs {
	overflow: hidden;
	width: 100%;
	margin: 10px 0 0 0 ;
	padding: 0;
	list-style: none;
}

#tabs li {
	float: left;
	margin: 0 -15px 0 0;
}

#tabs a {
	float: left;
	position: relative;
	padding: 0 30px; 
    /*padding: 0px 40px;*/
	height: 0;
	line-height: 30px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	border-right: 30px solid transparent;
	border-bottom: 30px solid #3D3D3D;
	border-bottom-color: #777\9;
	opacity: .3;
	filter: alpha(opacity =   30);
}

#tabs a:hover,#tabs a:focus {
	border-bottom-color: #2ac7e1;
	opacity: 1;
	filter: alpha(opacity =   100);
}

#tabs a:focus {
	outline: 0;
}

#tabs #current {
	z-index: 3;
	border-bottom-color: #3d3d3d;
	opacity: 1;
	filter: alpha(opacity =   100);
}

/* ----------- */
#tabcontent {
	background: #fff;
	border-top: 2px solid #3d3d3d;
	padding: 2em;
	/*height: 220px;*/
}

#tabcontent h2,#tabcontent h3,#tabcontent p {
	margin: 0 0 15px 0;
}


.noletter{letter-spacing:0px}
.nopadding{padding:0px 0px}
.nopaddinglr{padding-left:0px;padding-right:0px}
.minwidth60{min-width:60px;}
/***/
.search{
	float:right;
	/*IE8*/
	/*position:relative;*/
	/*top:-28px;*/
	/*IE7 */
 	/**position:relative;*/
	/**top:-28px;*/
	/*IE6 */
 	/*_position:relative; */
 	/*_top:-28px;*/
}
.searchinput{height:23px;border:1px solid #266aae}
.page{padding:10px 10px; font-size:14px; background-color:#353535; color:#fff}
.page .current{background-color:#266aae; padding:2px 10px;border:1px solid #266aae; color:#fff}
.page a{padding:2px 5px; border:1px solid #e0e0e0; color:#000000; background-color:#ffffff}
/***********添加文章页面中选择作者窗�?**************/
#searchAuthorBox ol{width:360px; height:25px;line-height:25px }
#searchAuthorBox ol li{float:left;width:120px;}


/*最小宽�?*/
.minw60{min-width:60px}
.minw80{min-width:80px}
.minw100{min-width:100px}
.minw120{min-width:120px}